body {
  width: 1024px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  color: rgb(77,77,77);
  background-color: rgb(234, 229, 229);
}

.header_wrapper {
  display: flex;
  height: 100px;
  background: rgb(120, 237, 17);
}

.name {
  margin-left: 40px;
}

.name h1 {
  font-size: 30px;
  margin-top: 30px;
}

.name p {
  font-size: 18px;
}

.header_navigation {
  margin-top: 60px;
}

.navigation {
  display: flex;
  width: 500px;
  margin-left: 110px;
  justify-content: space-between;
  font-size: 18px;
}

.navigation a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navigation a:hover {
  color: rgb(77,77,77);
}

main {
  background: rgb(255, 255, 255);
}

.about {
  display: flex;
  padding-top: 70px;
}

.photo img {
  height: 350px;
  width: 350px;
  opacity: 0.8;
  border-radius: 50%;
}

.goal {
  width: 500px;
  margin: 200px 0 0 80px;
  font-size: 18px;
}

.skills {
  width: 500px;
  margin: 70px auto 0 auto;
}

.skills h2 {
  display: block;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.skills ul {
  list-style-type: circle;
}

.skills li {
  margin-bottom: 10px;
}

.skills li span {
  font-weight: bold;
}

.experience {
  width: 500px;
  margin: 60px auto 0 auto;
}

.experience h2 {
  display: block;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.education {
  width: 500px;
  margin: 70px auto 0 auto;
}

.education h2 {
  display: block;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.education ul {
  list-style-type: circle;
}

.education li {
  padding-bottom: 10px;
}


.footer_wrapper {
  height: 80px;
  background: rgb(120, 237, 17); 
}

.contacts {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.contacts a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.contacts a:hover {
  color: rgb(77,77,77);
}